<style type="text/css">
<!--
.Style1 {color: #BCDA3F}
.Style2 {color: #FF9900}
-->
</style>
<h1>1&deg;) </h1>
<p>- Cr&eacute;er un nouveau document : </p>
<p><img src="1.JPG" alt="taille : 4 x 4 sur fond transparent" width="545" height="313" /></p>
<p>- Zoomez le au maximum</p>
<p>- Selectionnez quatre pixels en diagonale :</p>
<p><img src="2.jpg" alt="Maintenez shift tout en selectionnant les quatre pixels de diagonale" width="837" height="535" />  </p>
<p>- Prenez le <strong>Pot de peinture</strong> puis colorier la selection avec une couleur blanch&acirc;tre ( ex : <strong>#f6f6f6</strong> )</p>
<p>- Une fois cel&agrave; termin&eacute;, faites <strong>Ctrl + D</strong> puis <strong>Edition</strong> &gt;&gt; <strong>Utiliser comme motif</strong>...</p>
<p>&nbsp;</p>
<h1>2&deg;) </h1>
<p>- Cr&eacute;ez un nouveau document :</p>
<p><img src="3.jpg" alt="Taille : 400 x 60 sur fond transparent" width="547" height="314" /> </p>
<p>- Ecrivez du texte en couleur ( <span class="Style1">#bcda3f </span>et <span class="Style2">#FF9900</span> ou au choix ) avec la police <a href="sansblack.zip">SansBlack</a> et une taille de <strong>50pt </strong></p>
<p>- Le reste se joue en options de fusion ( <strong>clique-droit</strong> sur le calque &gt;&gt; <strong>Options de fusion </strong>) : </p>
<p><img src="4.jpg" width="381" height="197" /></p>
<p>puis &gt;&gt;</p>
<p><img src="5.jpg" width="381" height="271" /></p>
<p>puis &gt;&gt;</p>
<p><img src="6.jpg" width="381" height="290" /></p>
<p>puis &gt;&gt;</p>
<p><img src="7.jpg" width="381" height="197" /></p>
<h1>3&deg;)</h1>
<p>- Cr&eacute;ez un nouveau calque nomm&eacute; <strong>rainures</strong></p>
<p>- Faites <strong>Ctrl + Clic</strong> sur le calque de l'ecriture </p>
<p>- Prennez le <strong>Pot de peinture</strong> :</p>
<p><img src="8.jpg" width="741" height="534" />  </p>
<p>- Remplissez la selection</p>
<p>- Dans  la fen&ecirc;tre des calques selctionnez le calque &quot;<strong>rainures</strong>&quot; puis changez l'opacit&eacute; &agrave; <strong>35%</strong> et changez le mode en &quot;<strong>Superposition</strong>&quot; </p>
<p>- Enregistrez l'image au format <strong>PNG</strong>* <em>(Portable Network Graphic)</em> : dans le dossier <strong>Upload</strong> &gt;&gt;<strong> img </strong>&gt;&gt; <strong>Web2</strong> &gt;&gt; &quot;<em><strong>logo.png</strong></em>&quot; </p>
<p>- Remplacez le fichier existant</p>
<p>&nbsp;</p>
<h2><em>Note : vous pouvez toujours ajouter une icone &agrave; cot&eacute; du logo </em></h2>
