/****************************************************************/
/* 1. BACKGROUND AND TEXT COLOURS */
/****************************************************************/

/* 1.1 Default background colour and text colour */

BODY {BACKGROUND-COLOR: #000;}

.pun {COLOR: #00CC00;}

DIV.box, .pun BLOCKQUOTE, DIV.codebox, #adminconsole FIELDSET TH, .rowodd, .roweven {BACKGROUND-COLOR: #000; padding: 10px; margin : 2px;}
#adminconsole TD, #adminconsole TH {BORDER-COLOR: #333;}

/* header logo */
.pun H1
{
/* your logo & position */
display: block;
height: 10px;
border-top : 5px solid #000000;
border-bottom : 20px solid #000000;
}


/* 1.2 Darker background colours */

TD.tc2, TD.tc3, TD.tcmod, #postpreview, #viewprofile DD, DIV.forminfo,
#adminconsole FIELDSET TD, DIV.blockmenu DIV.box, #adstats DD {BACKGROUND-COLOR: #333;}

/* 1.3 Main headers background and text colour */

.pun H2 {background-image: url(../../img/Zelda/catbg.png); COLOR: #FFF; }

/* 1.3a Navigation Bar background and text color*/

#brdmenu {BACKGROUND-COLOR: #333; color: #D8FFB2;}
/*#brdmenu a:link { color: #D8FFB2;  } */

/* 1.4 Table header rows */

.pun TH {BACKGROUND-COLOR: #333;}

/* 1.5 Fieldset legend text colour */

.pun LEGEND {COLOR: #FFF;}

/* 1.6 Highlighted text for various items */

.pun DIV.blockmenu LI.isactive A, #posterror LI STRONG {COLOR: #FFF;}

/****************************************************************/
/* 2. POST BACKGROUNDS AND TEXT */
/****************************************************************/

/* 2.1 This is the setup for posts. */

DIV.blockpost DIV.box, DIV.postright, DIV.postfootright {BACKGROUND-COLOR: #000;}
DIV.postright, DIV.postfootright {BORDER-LEFT-COLOR: #333;}
DIV.postleft, DIV.postfootleft, DIV.blockpost LABEL {BACKGROUND-COLOR: #333;}

/* 2.2 Background for post headers and text colour for post numbers in viewtopic */

DIV.blockpost H2 {BACKGROUND-COLOR: #000;}
DIV.blockpost H2 SPAN.conr {COLOR: #000;}

/* 2.3 This is the line above the signature in posts. Colour and background should be the same */

.pun HR {BACKGROUND-COLOR: #333; COLOR: #555;}

/****************************************************************/
/* 3. BORDER COLOURS */
/****************************************************************/

/* 3.1 All external borders */

DIV.box {BORDER-COLOR: #000;}

/* 3.2 Makes the top border of posts match the colour used for post headers */

DIV.blockpost DIV.box {BORDER-COLOR: #333 #333 #333}

/* 3.3 Table internal borders. By default TH is same as background so border is invisible */

.pun TD {BORDER-COLOR: #333}
.pun TH {BORDER-COLOR: #000}

/* 3.4 Creates the inset border for quote boxes, code boxes and form info boxes */

.pun BLOCKQUOTE, DIV.codebox, DIV.forminfo, DIV.blockpost LABEL 
{color:#B79CB7; BORDER-COLOR: #333 #555 #333 #555}

/* 3.5 Gecko's default fieldset borders are really nasty so this gives them a colour
without interferring with IE's rather nice default */

.pun DIV>FIELDSET {BORDER-COLOR: #333}

/****************************************************************/
/* 4. LINK COLOURS */
/****************************************************************/

/* 4.1 This is the default for all links */

.pun A:link, .pun A:visited {COLOR: #AC1210;}
.pun A:hover {COLOR: #FE0000;}

/* 4.2 This is the colour for links in header rows and the navigation bar */

.pun H2 A:link, .pun H2 A:visited, #brdmenu A:link, #brdmenu A:visited {COLOR: #FFF; padding-left: 7px; }
.pun #brdmenu A:link {
 COLOR: #FFFF54; /* Yellow */
text-decoration : none;
color: #FFFF54;
padding-left: 2px;
margin-left: 2px;
padding-right: 2px;
margin-left: 2px;
padding-top: 0px;
margin-top: 1px;
margin-bottom: 1px;
padding-bottom: 0px;
/* border: 1px groove; */
font-size: 14px;

}

.pun #brdmenu A:visited {
 COLOR: #FF54FF;
}
.pun #brdmenu A:hover {
COLOR: #FFA954; /* Orange  */
}
/* 4.3 This is for closed topics and "hot" links */

LI.postreport A:link, LI.postreport A:visited, TR.iclosed TD.tcl A:link, TR.iclosed TD.tcl A:visited {COLOR: #888}
LI.postreport A:hover, TR.iclosed TD.tcl A:hover {COLOR: #AAA}
LI.maintenancelink A:link, LI.maintenancelink A:visited {COLOR: #B42000}
LI.maintenancelink A:hover {COLOR: #B42000}

/****************************************************************/
/* 5. POST STATUS INDICATORS */
/****************************************************************/

/* These are the post status indicators which appear at the left of some tables. 
.inew = new posts, .iredirect = redirect forums, .iclosed = closed topics and
.isticky = sticky topics. The default is "icon". By default only .inew is different.*/

DIV.icon {/*BORDER-COLOR: #333 #333 #333 #333*/BACKGROUND: url(../../img/Zelda/navi_1.png);}
/*TR.iredirect DIV.icon {BORDER-COLOR: #333 #333 #333 #333}*/
DIV.inew {/*BORDER-COLOR: #333 #333 #333 #333*/BACKGROUND: url(../../img/Zelda/navi_2.png)}

/****************************************************************/
/* 6. EXTRAS */
/****************************************************************/

#brdtitle { /* DELETE THIS IF YOU DON'T WANT A LOGO */
	background: url(../../img/Zelda/logobg.png);

/****************************************************************/
/* MOD MODERN BBCODE: ADDITIONAL BBCODE INDICATORS */
/****************************************************************/
code {
    color: #B42000;
}
div.postmsg li {
    color: #CEFE95;
}
DIV.spoilerbox p {
    color: #101010;
}
DIV.spoilerbox p:hover {
    color: #DE3839;
}
IMG.postimg {
    padding: 1px;
    margin: 2px 5px;
    border: 1px solid #111111;
    background: #FFF;
}
DIV.postmsg a:hover IMG.postimg {
    border: 1px solid #B42000;
}

/****************************************************************/
/* MOD MODERN BBCODE: POPUP PALETTE INDICATORS */
/****************************************************************/
/* 0. Common popup panel indicators */
#colorpalette #colorbtn, #smilespanel #smilesbtn, #sizepanel #sizebtn, #imgpanel #imgbtn, #listpanel #listbtn
{
    border-left: 1px #111111 solid;
    border-right: 1px #111111 solid;
    color: #111111;
    background: #111111;
}
#colorpalette #colorcontent, #smilespanel #smilescontent, #sizepanel #sizecontent, #imgpanel #imgcontent, #lis
tpanel #listcontent {
    border: 1px #111111 solid;
    background: #111111;
}
/* 1. Smileys popup panel indicators */
#smilespanel #adv a, #smilespanel #adv a:visited {
    color: #FFF;
}
#smilespanel #adv a:hover {
    color: #111111;
}
/* 2. Colors popup panel indicators */
#colorpalette #colorcontent a {
    border: 1px #111111 solid;
}
#colorpalette #colorcontent a:hover {
    border: 1px #6cb26a solid;
}

/* 3. Font-sizes, Images and Lists popup panel indicators */
#sizepanel #sizecontent a, #imgpanel #imgcontent a, #listpanel #listcontent a {
    border: 1px solid #111111;
    color: #FFF;
    background: #111111;
}
#sizepanel #sizecontent a:hover, #imgpanel #imgcontent a:hover, #listpanel #listcontent a:hover  {
    border: 1px #111111 solid;
    color: #FFF;
    background: #111111;
}

